doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Catch Mind
    body 
        .loginBox
            form#jsLogin
                input(placeholder="What's your name?", type="text")
        .gameContainer#jsGame
            .canvas__wrap
                canvas.canvas#jsCanvas
                .canvas__controls
                    button.canvas__controls__btn--fill#jsFill Fill
                    button.canvas__controls__btn--save#jsSave Save
                    input(type="color").canvas__controls--color#jsColor
                    input(type="range").canvas__controls--range#jsRange
            .chat
                ul.chat__messages#jsMessages
                form.chat__form#jsSendMsg
                    input(placeholder="Write a message", type="text")
        script.
            window.events = !{events}
        script(src="/socket.io/socket.io.js")
        script(src="scripts/main.js")